html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--primary-1);
  font-family: var(--body-font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* @font-face {
  font-family: 'Acumin';
  src: url('../fonts/AcuminRegular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Acumin';
  src: url('../fonts/AcuminBold.otf');
  font-weight: 700;
} */

@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/TiemposMedium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/TiemposSemibold.otf');
  font-weight: 600;
}

@import url('./lib/vars.css');
@import url('./lib/grid.css');
@import url('./lib/typography.css');
@import url('./lib/helpers.css');

/* ELEMENTS */
@import url('./lib/elements/section.css');
@import url('./lib/elements/link.css');
@import url('./lib/elements/button.css');
@import url('./lib/elements/divider.css');
@import url('./lib/elements/cover.css');
@import url('./lib/elements/menu.css');
